/*Reset Style*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/*base*/
body {
  line-height: 1.231;
  color: #333;
  font-family: sans-serif;
  font-family: 'MS PGothic', arial, sans-serif\0/;
  font-size: 13px;
}
a:link, a:visited,
a:hover, a:active, a:focus {
  color: #333;
  text-decoration: none;
}

/*list*/
ul {
  margin: 10px ;
  border: 1px solid #999;
  border-radius: 10px;
}
ul:after {
  content: "";
  display: block;
  clear: both;
}
li {
  list-style: none;
  float: left;
  width: 50%;
  min-width: 130px;
  height: 200px;
  line-height: 200px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li:nth-child(even) {
  border-right: none;
}
li:nth-last-child(1),
li:nth-last-of-type(2) {
  border-bottom: none;
}
li:nth-last-of-type(2):nth-child(even) {
  border-bottom: 1px solid #999;
}
li a {
  display: block;
  padding-left: 15px;
  height: 45px;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}